.menu {
  &__list {
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: #1B1C21;
    font-family: 'TTLakes', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    display: block;

    &--active {
      color: #7E7E82;
      margin-left: 0;

      &::before {
        content: "";
        display: inline-block;
        width: 4px;
        height: 32px;
        background-color: #41F6D7;
        border-radius: 0 4px 4px 0;
        margin-left: 0;
        margin-right: 20px;
        vertical-align: middle;
      }
    }
  }
}
