.nav {
  background-color: #fff;
  height: 88px;
  border-bottom: 1px solid #D9FFF5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 16px;
  }
  &--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 16px;
  }

  &__logo {
    margin-right: 16px;
  }
  &__divider {
    margin-right: 20px;
  }

  &__button {
    margin-right: 16px;
  }

  @media screen and (min-width: 1119px) {
    & {
      display: none;
    }
  }
}

