.side-menu {
  background: #FFFFFF;
  width: 320px;
  max-width: 480px;
  min-height: 100vh;
  box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  
  @media screen and (min-width: 1366px) {
    & {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    transform: translateX(0);
    order: -1;
    width: 300px;
    box-shadow: none;
    grid-area: sidenav;
      z-index: 1;
  }
  }
  
  &.side-menu--show {
    transform: translateX(0);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 86px;
    margin-bottom: 20px;

    @media screen and (min-width: 1366px) {
      justify-content: space-between;
    }
  }

  &__icon {
    margin-right: 17px;
    margin-left: 24px;

    &.modal__btn--crossed {
      @media screen and (min-width: 1366px) {
      display: none;
    }
    }
  }

  &__logo {
    margin-right: 79px;
    
    @media screen and (min-width: 1366px) {
      margin-left: 22px;
    }
  }
}
